.person {	width:20%;
			display:inline-block;
			height:600px;
			margin:10px;
			padding-left:2px;
			padding-right:2px;}
.cardsection{height:60%;
			margin-bottom:10px;}

.bio		{width:100;
			height:35%;
			text-wrap:normal;
			}
.cardfoot{	height:10%;
			padding-top:10%;}
.cardhead{ 	height:10%; }
.person img{width:100%;
			height:75%;}
.even{		background:lightyellow;}
.odd{		background:lightblue;}
.border{	border:2px dotted black;}

